body {
            background-color: whitesmoke;
            font-family: 'Poppins', sans-serif;
            /* display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; */
        }

        .outer {
            height: 100vh;
        }

        .full {
            width: 40%;
            margin: 3% auto;
            padding: 3%;
            background-color: antiquewhite;
            border-radius: 3%;
        }

        .full:hover {
            box-shadow: 0 0 15px cadetblue;
        }

        .full h2 {
            margin-bottom: 5%;
            text-align: center;
            font-weight: bold;
        }

        .full div {
            margin-top: 2%;
        }

        .btn {
            margin-top: 4%;
            width: 30%;
        }

        .button {
            display: flex;
            justify-content: space-between;
        }